{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            {% for m in movies %}
            <div class="col-sm-6 col-lg-4">
                    <div class="card" style=" width: 18rem;" id="card">
                             <img class="card-img-top" src="{{ asset('posters/'~m.imdbId~'.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"><strong>{{ m.title }}</strong></h5>
                        <a id="btnDescription" href="{{ path('detail',{"id": m.imdbId}) }}" class="btn btn-primary">En savoir plus...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    </div>
{% endblock %}