{% extends 'base.html.twig' %}
{% form_theme registerForm 'bootstrap_3_layout.html.twig' %}

{% block main %}
    <div >
    <div class="row">
        <div class="offset-sm-4 col-sm-4" id="login">

            <h1>Créez votre compte</h1>

            {#affiche la balise d'ouverture du formulaire#}
            {{ form_start(registerForm) }}

            {#affiche les champs du formulaire#}
            {{ form_widget(registerForm) }}

            <button class="btn btn-dark" >Yo !</button>

            {#affiche la balise de fermeture du formulaire#}
            {{ form_end(registerForm) }}
        </div>
    </div>
{% endblock %}